doctype html
html
    head
        meta(description="")
        meta(charset="utf-8")
        title gochiusa-lov
        link(rel="stylesheet" href="style/style.css")

    body
        | Twitter認証に失敗しました。
        a(href="/") 戻る
