@import "nib";
@import "_fa";

*
    box-sizing border-box

html, body
    margin 0
    padding 0
    // padding 8px 16px
    width 100%
    height 100%

    font-family 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif

    background-attachment fixed
    background-image linear-gradient(to bottom, #eee, #fff)

#wrap
    width 100%
    padding-top 16px
    padding-left 48px

#illusts
    position relative
    width 100%
    padding 0
    margin 0 auto

    list-style none

.illust
    position relative
    width 250px
    min-height 100px

    line-height 0 // Kill the Line-break space

    border-radius 4px

    transition-property transform, opacity
    transition-duration 1.5s

    &.illust--loading
        opacity 0
        transform translateY(8px)

    .illust_image
        width 100%

    .illust_overlay
        position absolute
        top 0

        display block
        width 100%
        height 100%

        color #fff

    .illust_meta
        position relative
        z-index 1

        display flex
        justify-content left
        align-items center

        width 100%
        height 40px
        padding 8px

        font-size 12px
        line-height 1

        color #fff
        background-color rgba(#000, .5)

        transition-property opacity
        transition-timing-function cubic-bezier(0.5, 0, 0.2, 0.65)
        transition-duration .3s

        user-select none

    .illust_mata_author
        flex 1

    // .illust_meta_actions
    //     width 3em

    .illust_action
        padding 0
        padding-left 8px

        border none
        background-color transparent
        outline none

        font-size 20px
        text-decoration none

        &.illust_action--retweet
            color #fff

        &.illust_action--retweeted
            color hsl(98, 71%, 55%)

        &.illust_action--fav
            color #fff

        &.illust_action--favorited
            color hsl(44, 94%, 55%)


.sidebar
    position fixed
    top 0
    left 0
    z-index 2

    height 100%
    padding 8px

    .sidebar_linkToTwitter
        position relative

        display inline-block

        width 32px
        height 32px

        color #55acee

        font-size 32px

        .tooltip
            position absolute
            top 0
            left 120%

            width 12em
            padding 8px

            text-align center
            font-size 12px

            color #fff
            border-radius 4px
            background-color rgba(#000, .8)
            opacity 0

            transition-property opacity
            transition-duration .2s

            &::before
                content ''

                position absolute
                right 100%

                border-width 10px
                border-color transparent
                border-style solid
                border-right-color rgba(#000, .8)

        &:hover
            .tooltip
                opacity 1

.footer
    max-width 100%
    padding 64px 0

    overflow hidden

    .footer_loading
        position relative

        display block
        width 40px
        height 40px
        margin 0 auto

        background-image url("../images/loading.gif")
        background-size 100%
        opacity .8

        &::before
            content ''

            position absolute
            top 25px
            right 120%

            width 250px

            border-top 1px solid #ddd

        &::after
            content ''

            position absolute
            top 25px
            left 120%

            width 250px

            border-top 1px solid #ddd


.loading
    position fixed
    top 0
    left 0
    z-index 3

    display flex
    width 100%
    height 100%

    justify-content center
    align-items center

    background-color #fff

    transition-property opacity
    transition-duration .4s

    pointer-events auto

    &.loading--hidden
        opacity 0
        pointer-events none

    .loading_inner
        text-align center

    .loading_image
        display block
        width 50px
        height 50px
        margin 0 auto

@media screen and (max-width: 460px)
    #wrap
        padding-left 0

    .illust
        width 40%

        .illust_meta
            opacity .7
