@import "nib";

*
    box-sizing border-box

html, body
    margin 0
    padding 8px 16px
    width 100%
    height 100%

#illusts
    position relative
    width 100%
    padding 0
    margin 0 auto

    list-style none


.illust
    position relative
    // margin 0 auto
    width 200px
    min-height 100px
    // opacity 1

    border 1px solid #eaf
    border-radius 4px

    transition-property transform, opacity
    transition-duration 1s

    &.illust--loading
        opacity 0
        transform translateY(8px)

    img
        width 100%
