doctype html
html
    head
        meta(description="")
        meta(charset="utf-8")
        title gochiusa-lov
        link(rel="stylesheet" href="style/style.css")

    body
        article#wrap
            ul#illusts
                include tweets

        script(src="js/wookmark.min.js")
        script(src="js/co.js")
        script(src="js/fetch.js")
        script(src="js/main.js")
