doctype html
html
    head
        meta(description="")
        meta(charset="utf-8")
        title lov
        link(rel="stylesheet" href="style/style.css")

    body
        //-
            nav.sidebar
                a.sidebar_linkToTwitter(href="auth/twitter") Link to Twtter
                    .tooltip Twitter連携してふぁぼろうな

        main#wrap
            ul#illusts
                include tweets

        footer.footer
            .footer_loading

        .loading
            div.loading_inner
                span Loading
                img.loading_image(src="images/loading.gif", alt="loading")


        script#last-status-id(data-last-status-id=lastStatusId)
        script(src="js/main.js")
